*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Bai Jamjuree', sans-serif;
}
body{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;

}
p{
    color: hsl(201, 11%, 66%) ;
}
h1,h2,h3{
    color:  hsl(210, 10%, 33%);
}
.mobile{
    display: none;
}
.desktop{
    display: block;
}
.bg{
    top:0;
    position: absolute;
    width: 100%;
}
.hero{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 55vw;
}
.logo{
    /* margin-top: 10vh; */
    height: 10vw;
}
.hero-text h1{
    margin: 5vh 0;
    font-size: 3.3vw;

    /* color: ;hsl(171, 66%, 44%) */
}
.hero-text p{

    text-align: center;
    font-size: 1.5vw;
    margin: 1vw;
}

.hero-btns{
    width: 80%;
}

.btn{
    color: white;
    border: none;
    border-radius: 2vw;
    outline: none;
    text-align: center;
    display: inline-block;
    font-size: 1.5vw;
    padding: 1vw 2vw;
    margin: 2vw 2px;
    cursor: pointer;
}

.btn-ios{
    background-color:hsl(171, 66%, 44%);
}
.btn-ios:hover{
    background-color: hsl(171, 67%, 57%); 
    /* box-shadow: 0px 5px 85px hsl(171, 75%, 67%) ; */

}
.btn-mac{
    background-color: hsl(233, 100%, 69%);

}
.btn-mac:hover{
    background-color: hsl(233, 97%, 75%);
    /* box-shadow: 0px 5px 85px  hsl(233, 100%, 76%) ; */
}

.page-2{
    display: flex;
    flex-direction: column;
    gap: 10vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.page-2-text{
    width: 60%;
}
.page-2-text h2{
    font-size: 2.5vw;
}

.page-2-text p{
    margin-top: 2vh;
    font-size: 1.3vw;
    font-weight: 100;
}
.page-2-body{
    width: 100%;
    display: flex;
    gap: 10%;
}

.page-2-body-left{
    width: 50%;
}
.page-2-body-left img{
    margin-left: -5vw;
    width: 100%;
}

.page-2-body-right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.box{
    margin-top: -1vh;
    margin-left: 20px;
}
.box h3{
    font-size: 1.8vw;
    text-align:start;
}
.box p{
    font-weight: 100;
    font-size: 1vw;
    line-height: 1.5;
    text-align: start;
    width: 55%;
}
.page-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.page-3-text{
    width: 40%;
    margin-top: 1vh;
    text-align: center;

}
.page-3-text h2{
    font-size: 2.5vw;
    margin: 20px;
}

.page-3-text p{
    font-size: 1.3vw;
    font-weight: 100;
}

.page-3-img{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin-top: 10vh;
    width: 100%;
}
.page-3-img img{
    width: 60%;
}

.partners{
    margin: 10vh ;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;

}

.partners img{
    width: 100%;
    /* height: 100%; */
}

.cards{
    display: flex;
    justify-content: space-evenly;
}

.card{
    margin: 10vh 0;
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    gap: 2vh;
    align-items: center;
}

.card h1{
    font-size: 2vh;
}
.card p{
    width: 80%;
    font-size: 1.8vh;
    text-align: center;
}
.bottom-text{
    margin: 10vh 0;
}
footer{
    margin-top: 10vh ;
    width: 100%;
    background-color: #E9E9EB;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 20vh;
}

footer a{
    text-decoration: none;
    color: hsl(210, 10%, 33%);
}

footer img{
    height: 40%;
}

.links{
    /* width: 10vw; */
    width:50%;
    text-align: start;
    display: flex;
    gap: 10%;
    flex-wrap: wrap;
}
.link{
    width: 13vw;
}
.socials{
    display: flex;
    gap: 10px;
}
.socials img{
    height: 4vh;
}

@media only screen and (max-width :600px){
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
    }
    .hero{
        width: 90vw;
    }
    .hero img{
        height: 20vh;
    }
    .hero h1{
        font-size: 3vh;
    }
    .hero p{
        font-size: 2vh;
    }
    .hero-btns{
        display: flex;
        flex-direction: column;
    }
    .hero-btns button{
        font-size: 2vh;
        border-radius: 5vh;
    }
    .page-2{
        width: 100%;
    }
    .page-2-text{
        width: 80%;
    }
    .page-2-text h2{
        font-size: 2.5vh;
    }
    .page-2-text p{
        font-size: 1.5vh;
    }

    .page-2-body{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10vh;
    }
    .page-2-body img{
        margin-left: 0;
    }

    .page-2-body-left {
        width: 80%;
    }
    .box{
        display: flex;
        flex-direction: column;
        gap: 1vh;
        justify-content: center;
        align-items: center;
    }
    .page-2-body-right{
        width: 80%;
    }
    .page-2-body-right h3{
        font-size: 2vh;
    }
    .page-2-body-right p{
        text-align: center;
        width: 65%;
        font-size: 1.5vh;
    }
    .box{
        margin: 2vh;
    }

    .page-3-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .page-3-text h2{
        font-size: 2.5vh;
    }
    .page-3-text p{
        width: 60%;
        font-size: 1.5vh;
    }
    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card{
        width: 50%;
        margin: 2vh;
    }

    .partners{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .partner{
        display: flex;
        /* align-items: center; */
        justify-content: center;
        width: 80%;
        margin: 3vh;
    }
    .partner img{
        width: 25%;
    }

    .end-btns{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .end-btns button{
        font-size: 2vh;
    border-radius: 5vh;
        width: 80%;
    }
    .bottom-text{
        margin: 3vh;
    }
    footer{
        flex-direction: column;
        gap: 2vh;
        /* align-items: center;
        justify-content: center; */
    }

    footer img{
        margin-top: 3vh;
        height: 10vh;
    }

    .links{
        text-align: center;
        flex-direction: column;
        gap: 2vh;
    }
    .link{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .socials{
        flex-direction: column;
        gap: 2vh;
    }
}